# DATABASE CREDENTIAL
MONGO_URI=YOUR-KEY

# LOCAL USER
CLIENT_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:5173

# Platform
NODE_ENV=development

# GOOGLE CREDENTIALS
GOOGLE_CLIENT_ID=YOUR-KEY

GOOGLE_CLIENT_SECRET=YOUR-KEY

# # long-lived
# GOOGLE_REFRESH_TOKEN=YOUR-KEY (optional)

# # short-lived
# GOOGLE_ACCESS_TOKEN=YOUR-KEY (optional)

GOOGLE_USER=your-email@mail.com

# AI-API-KEY
GROQ_API_KEY=YOUR-KEY

# JWT-SECRETS-TOKENS
JWT_SECRET=YOUR-KEY

JWT_EMAIL_VERIFY_SECRET=YOUR-KEY

JWT_ACCESS_SECRET=YOUR-KEY

JWT_REFRESH_SECRET=YOUR-KEY

